body{
    background-color: #435165;
}
.main {
    display: flex;
    height: 100%;
    background-color: #435165;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

.flex-child{
    flex:1;
    width: 30%;
    margin: 10px;
    background-color: #fff;
    height: 95%;
    justify-content: center;
    text-align: center;
    color: #000;
    padding:10px;
    border: 2px solid #435165;
    border-radius: 30px;
    align-items: center;
    
}
.n_problem{
    text-align: center;
    margin-top: 300px;
}
h1{
    font-size: 30px;
}

p{
    font-size: 18px;
}

.flex-child:first-child{
    margin-right: 10px;
}

legend {
  color: #000;
  font-size: large;
}

#input_define{
  width:500px;
  height:30px;
  
  border-radius:10px;
  
  font-size: 16px;
}

#output_define{
  width:500px;
  height:30px;
  
  border-radius:10px;
 
  font-size: 16px;
}

#hint{
  width:500px;
  height:30px;
  
  border-radius:10px;
  
  font-size: 16px;
}

.button-33 {
  position: relative;
  margin-top: 30px;  
  left: 5%;
  transform: translate(-50%, -50%);
  background-color: 	#0066CC;
  border-radius: 12px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  transition: 200ms;
  width: 10%;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:not(:disabled):hover,
.button-33:not(:disabled):focus {
  outline: 0;
  background: #000;
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.button-33:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}

.button-34 {
  position: relative;
  margin-top: 20px;  
  left: 5%;
  transform: translate(-50%, -50%);
  background-color: 	#FF8000;
  border-radius: 12px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 10px;
  text-align: center;
  transition: 200ms;
  width: 10%;
  box-sizing: border-box;
  border: 0;
  font-size: 14px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-34:not(:disabled):hover,
.button-34:not(:disabled):focus {
  outline: 0;
  background: #000;
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.button-34:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}

#target-content {
  position: fixed;
  transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	width: 50%;
	height: 500px;
	background-color: #fff;
	z-index: 999;
  border: 0.0625rem solid #d3d3d3;
	box-shadow: 0 0 0.625rem #e5e2e2;
	border-radius: 0.625rem;
  overflow:auto;
  display: none;
}
.popup-header {
	background-color: #fff;
	padding: 0.625rem;			
}
.popup-close {
	font-size: 12px;
	font-weight: bold;
	padding: 0.3125rem 0.625rem;
	border-radius: 0.3125rem;
	background-color: #f00;
	color: #fff;
	border: none;
	float: right;
	margin: -0.3125rem;
}

#prompt-content{
  text-align: center;
}

.old{
  display: block;
}

.add_frame{
  display: inline-block;
  margin-top: 10px;
  width: 900px;
}
.sample{
  display: inline-block;
  width: 100%;
}
.parameter{
  width:200px;
  height:25px;
  
  border-radius:10px;
  
  font-size: 12px;
}

.sample_input{
  width:100px;
  height:25px;
  
  border-radius:10px;
  
  font-size: 12px;
}

.button-35 {
   
  /* transform: translate(-50%, -50%); */
  background-color: 	#EA0000;
  border-radius: 12px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 10px;
  /* text-align: center; */
  transition: 200ms;
  width: 10%;
  box-sizing: border-box;
  border: 0;
  font-size: 12px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-35:not(:disabled):hover,
.button-35:not(:disabled):focus {
  outline: 0;
  background: #000;
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.button-35:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}