body{
    background-color: #435165;
}
.main {
    display: flex;
    height: 100%;
    background-color: #435165;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

.flex-child{
    flex:1;
    width: 30%;
    margin: 10px;
    background-color: #fff;
    height: 95%;
    justify-content: center;
    text-align: center;
    color: #000;
    padding:10px;
    border: 2px solid #435165;
    border-radius: 30px;
    align-items: center;
    
}

h1{
    font-size: 30px;
}

p{
    font-size: 18px;
}

.flex-child:first-child{
    margin-right: 10px;
}

.button-32 {
    position: relative;
    top: 50%;  
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0084ff;
    border-radius: 12px;
    color: #000;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 15px;
    text-align: center;
    transition: 200ms;
    width: 10%;
    box-sizing: border-box;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-32:not(:disabled):hover,
  .button-32:not(:disabled):focus {
    outline: 0;
    background: #f1f3f4;
    box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
  }
  
  .button-32:disabled {
    filter: saturate(0.2) opacity(0.5);
    -webkit-filter: saturate(0.2) opacity(0.5);
    cursor: not-allowed;
  }