<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='prompt_build.css') }}">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="main">
            <div class="flex-child">
                <h1>Problem</h1>
                <div class="n_problem">
                    <p>請寫出一降序的Quick Sort演算法</p>
                </div>
            </div>

            <div class="flex-child">
                <h1>Prompt Production</h1>
                <hr>
                <div class="c_category">
                    <p>選擇問題種類</p>
                    {% for category in categorys %}
                        {{category}}
                    {% endfor %}
                </div>
                <hr>
                <div class="c_keyword">
                    <p>選擇與問題相關之主題</p>
                    {% for keyword in keywords %}
                        {{keyword}}
                    {% endfor %}
                </div>
                <hr>
                <p>選擇生成式AI腳色</p>
                <hr>
                <!-- <form method = "POST" action="{{url_for('result')}}"> -->
                    <input class="button-32" type="submit" value="Ask AI">
                <!-- </form> -->
            </div>
        </div>
    </body>
</html>

<script type="text/javascript">
   var problems = {{problems|safe}}
//    var choice = {Category:"",Keyword:"",Solution:"",Role:""}

   var text = problems[0]['Solution']
   var temp = text.toString()
   

   $(document).ready(function () {
        
        choice={
                Category:"Algorithm",
                Keyword:"Array,Sort",
                Problem_n:"請寫出由大到小排序的Quick Sort演算法",
                Problem_o:"請寫出由小到大排序的Quick Sort演算法",
                Solution:temp,
                Role:"Teacher"
        }
        // console.log(choice)
        
        $('input[type=submit]').click(function(){
            // console.log(123)
            $.ajax({
                type:"POST",
                url:"/result",
                data:JSON.stringify(choice),
                contentType:"application/json",
                dataType:'json',
                success:function(result){
                    window.location.href = "/result"
                }
            })
        });
   });

</script>