<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='select.css') }}">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <title>CBR System</title>
    </head>
    <body>
        <div class="select_topic">
            <input type="button" value="Topic 1" name="t_1" style="opacity: 0.6;" onclick="window.location.href = '/topic_1'" disabled>
            <input type="button" value="Topic 2" name="t_2" style="margin-top: 10px;opacity: 0.6;"onclick="window.location.href = '/topic_2'"disabled>
            <input type="button" value="Topic 3" name="t_3" style="margin-top: 10px;"onclick="window.location.href = '/topic_3'">
            <input type="button" value="Topic 4" name="t_4" style="margin-top: 10px;opacity: 0.6;"onclick="window.location.href = '/topic_4'" disabled>
            <input type="button" value="Topic 5" name="t_5" style="margin-top: 10px;opacity: 0.6;"onclick="window.location.href = '/topic_5'" disabled>
        </div>
    </body>
</html>

<!-- <form method = "POST" enctype="multipart/form-data" action = "{{ url_for('import_csv') }}">    
    <input type="file" name="file" accept=".csv">
    <input type = "submit" value="Upload">  
</form>

{% if data_var %}
    <p style="color:green;"> File uploaded successfully!! </p>
    {{data_var|safe}}
    <form method = "POST" action="{{url_for('prompt_build')}}">
        <input class="button-32" type="submit" value="Get Start">
    </form>
{% else %}
    <p style="color:blue;">Choose csv file to upload</p>
{% endif %} -->




