<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='prompt_build.css') }}">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <title>TOPIC 3 EXTEND</title>
    </head>
    <body>
        <div class="main">
            <div class="flex-child">
                <h1>Problem</h1>
                <div class="n_problem">
                    <h2 id="problem_d"></h2>
                    <h2 id="problem_iao"></h2>
                </div>
            </div>

            <div class="flex-child">
                <h1>Prompt Production</h1>
                <div class ="c_input">
                    <fieldset>
                        <legend>輸入</legend>
                        <input type="text"id="input_define" name="prompti" placeholder="整數，單行輸入，代表數字" required>
                        <p>型別種類:(多)整數、字串、(二維)串列、浮點數、字典...</p>
                        <p>輸入格式:單行輸入、多行輸入</p>
                        <p>輸入意涵:代表月數、天數、第n項費伯數列...</p>
                    </fieldset>
                </div>
                <div class ="c_output">
                    <fieldset>
                        <legend>輸出</legend>
                        <input type="text" id="output_define" name="prompto" placeholder="印出指定整數結果" required>
                        <p>輸出結果:印出指定 整數/字串/串列 結果</p>
                    </fieldset>
                </div>
                <div class ="sample">
                    <fieldset>
                        <legend>範例輸入輸出</legend>
                        <label for="name">輸入:</label>
                        <input type="text" class="sample_input" name="s_i" id="s_i" placeholder="">
                        <label for="type">輸出:</label>
                        <input type="text" class="sample_input" name="s_o" id ="s_o" placeholder="">
                    </fieldset>
                </div>
                <div class ="memory">
                    <fieldset>
                        <legend>參數宣告</legend>
                        <div id="m_c">
                            </div>
                        <button class="button-34" onclick="add_memory()">新增參數</button>
                    </fieldset>
                </div>
                <div class="c_category">
                    <fieldset>
                        <legend>處理方式</legend>
                        {% for category in categorys %}
                            <input type="radio" name="promptc" value="{{category}}"></input>
                            <label for="{{category}}">{{category}}</label>
                        {% endfor %}
                    </fieldset>
                </div>
                <div class="c_keyword">
                    <fieldset>
                        <legend>處理方式轉換程式概念</legend>
                        {% for keyword in keywords %}
                            <input type="checkbox" name="promptk" value="{{keyword}}"></input>
                            <label for="{{keyword}}">{{keyword}}</label>
                        {% endfor %}
                    </fieldset>
                </div>
                <div class ="hint">
                    <fieldset>
                        <legend>關鍵提示(思考最小情況)</legend>
                        <input type="text" id="hint" placeholder="當lots=1時回傳1、lots=2時回傳2、lots=3時回傳...、">
                    </fieldset>
                </div>
                <!-- <input class="button-33" id= "search" style="background-color:	#00BB00;" value="Search"> -->
                <!-- <input class="button-33" type="submit" value="Ask AI"> -->
                <input class="button-33" id= "search" style="background-color:	#00BB00;" value="Search">
            </div>
            <div id="target-content">
                <div class="popup-header">
                    <span style="font-weight:bold">Check Search Result: </span>
                    <button id="btnpopclose" class="popup-close">×</button>
                </div>
                <div name="prompt-content">
                    <h3 style="text-align: center;">處理方式:<span id="g"></span></h3>
                    <h3 style="text-align: center;">處理方式轉換程式概念:<span id="k"></span></h3>
                </div>
                <hr>
                <div name="prompt-content">
                    <h3 style="text-align: center;">相關範例題目搜尋結果</h3>
                    <div id="old"></div>
                </div>
                <input class="button-33" style="top:50%;left:50%;bottom: 20px;;" type="submit" value="Ask AI">
            </div>
        </div>
    </body>
</html>

<script type="text/javascript">
   var problems = {{problems|safe}}
   var output=""
   var input = ""
   var category = ""
   var keyword = []
   var description = ""
   var solution = ""
   var hint = ""
   var sample_i
   var sample_o
   var parameters = []

   
   var extend = "當兵新訓一個月後要下部隊抽籤，班長從籤袋中一次拿三或二或一支籤分派單位\n"+
                "假設n為籤袋中的總籤數，請問當輸入為n時，班長抽完籤的方法數共有幾種。"
   var iao   =  "範例輸入:\n"+
                "4\n"+
                "範例輸出:\n"+
                "7"
   iao = iao.replace(/\n/g,'<br>')
   extend = extend.replace(/\n/g,'<br>')
   
   $(document).ready(function () {
        document.getElementById("problem_d").innerHTML = extend
        document.getElementById("problem_iao").innerHTML = iao
   });
   $('input[type=radio][name="promptc"]').on('change', function() {
        category = $(this).val()
   })
   $('input[type=checkbox][name="promptk"]:checked').each(function(){
        keyword+=this.value
   })

   var add_div=1;
   function add_memory(){
        var obj = document.createElement("div")
        obj.id = "add_"+add_div
        obj.innerHTML='<div class="add_frame">\n'+
                    '<label for="name">參數名稱:</label>\n'+
                    '<input type="text" class="parameter" name="p_n" id="p_n" placeholder="lots">\n'+
                    '<label for="type">參數型別:</label>\n'+
                    '<input type="text" class="parameter" name="p_t" id="p_t" placeholder="int、str、list...">\n'+
                    '<button class="button-35" onclick="delete_memory(this)">刪除</button>\n'+
                '</div>\n'
        add_div++
        // obj.setAttribute("style","text-align:left")
        document.getElementById('m_c').appendChild(obj)
   }

   function delete_memory(but){
        var id = but.parentNode.parentNode.id
        var obj = document.getElementById(id)
        document.getElementById('m_c').removeChild(obj)
   }
   var display = ""
   $('#btnpopclose').click(function(){
        keyword = []
        category = ""
        display = ""
        $('input[type=checkbox][name="promptk"]').prop("checked",false)
        $('input[type=radio][name="promptc"]').prop("checked",false)
        $('#g').html(category)
        $('#k').html(keyword)
        $('#old').html(display)
        $('#target-content').hide();
   })
   //點選完進行索引
   $('#search').click(function(){
        $('input[type=checkbox][name="promptk"]:checked').each(function(){
                    keyword.push(this.value)
        })
        var search_case = {
            
            Category:category,
            Keyword:keyword,
        }
        // console.log(prompt)

        //ajax開始
        $.ajax({
                type:"POST",
                url:"/search",
                data:JSON.stringify(search_case),
                contentType:"application/json",
                dataType:'json',
                success:function(result){
                    $('#g').html(category)
                    $('#k').html(keyword)
                    // console.log(result)
                    
                    var t1 = "<h4 style=\"text-align:center\">"+result['description']+"</h4>"
                    t1 = t1.replace(/\n/g,'<br>')
                    description += result['description']
                    var t2 = "<h4 style=\"text-align:center\">"+result['solution']+"</h4>"
                    t2 = t2.replace(/\n/g,'<br>')
                    solution += result['solution']
                    display+=t1
                    display+="<br>"
                    display+=t2
                    $('#old').html(display)
                    $('#target-content').show()
                }
        })
        
   })
   //
   //將索引產出之舊問題整理
   function check_category(category){
        if (category=="遞迴"){
            return true
        }else{
            return false
        }
   }

   function check_keyword(keyword){
        check_1 = ['recursion']

        if (keyword.length!==1){
            return false;
        }

        for (var i = 0; i < keyword.length; ++i) {
            if (keyword[i] !== check_1[i]) {
                return false
            }
        }

        return true
   }
   //送出
   $('input[type=submit]').click(function(){
            input = document.getElementById('input_define').value
            output = document.getElementById('output_define').value
            sample_i = document.getElementById('s_i').value
            sample_o = document.getElementById('s_o').value
            hint = document.getElementById('hint').value
            
            p_raw = document.getElementsByClassName('add_frame')
            
            for(var i =0;i<p_raw.length;i++){
                var parameter_name = p_raw[i].childNodes[3].value
                var parameter_type = p_raw[i].childNodes[7].value
                var temp = {
                    'parameter_name':parameter_name,
                    'parameter_type':parameter_type
                }
                parameters.push(temp)
            }

            var choice={
                        Mode:2,
                        Topic:3,
                        Input:input,
                        Output:output,
                        S_input:sample_i,
                        S_output:sample_o,
                        Category:category,
                        Keyword:keyword,
                        Parameters:parameters,
                        Problem_n:extend.toString(),
                        Problem_o:description,
                        Solution:solution,
                        Hint:hint,
            }
            if (check_category(category) &&  check_keyword(keyword)){
                $.ajax({
                    type:"POST",
                    url:"/result",
                    data:JSON.stringify(choice),
                    contentType:"application/json",
                    dataType:'json',
                    success:function(result){
                        keyword = []
                        category = ""
                        display = ""
                        $('input[type=checkbox][name="promptk"]').prop("checked",false)
                        $('input[type=radio][name="promptc"]').prop("checked",false)
                        $('#g').html(category)
                        $('#k').html(keyword)
                        $('#old').html(display)
                        $('#target-content').hide();
                        window.location.href = "/result"
                    }
                })
            }else{
                if (!check_category(category)){
                    alert("主要處理方式選擇有誤，請重新選擇")
                }
                
                if (!check_keyword(keyword)){
                    alert("程式概念選擇有誤，請重新選擇")
                }
            }
    });

</script>