<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='prompt_build.css') }}">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <title>TOPIC 4</title>
    </head>
    <body>
        <div class="main">
            <div class="flex-child">
                <h1>Problem</h1>
                <div class="n_problem">
                    <h2 id="problem_d"></h2>
                    <h2 id="problem_iao"></h2>
                </div>
            </div>

            <div class="flex-child">
                <h1>Module Production</h1>
                <div class ="c_input">
                    <fieldset>
                        <legend>輸入</legend>
                        <input type="text"id="input_define" name="prompti" placeholder="整數，單行輸入，代表數字" required>
                        <p>型別種類:(多)整數、字串、(二維)串列、浮點數、字典...</p>
                        <p>輸入格式:單行輸入、多行輸入</p>
                        <p>輸入意涵:代表月數、天數、第n項費伯數列...</p>
                    </fieldset>
                </div>
                <div class ="c_output">
                    <fieldset>
                        <legend>輸出</legend>
                        <input type="text" id="output_define" name="prompto" placeholder="印出指定整數結果" required>
                        <p>輸出結果:印出指定 整數/字串/串列 結果</p>
                    </fieldset>
                </div>
                <div class ="sample">
                    <fieldset>
                        <legend>範例輸入輸出</legend>
                        <label for="name">輸入:</label>
                        <input type="text" class="sample_input" name="s_i" id="s_i" placeholder="">
                        <label for="type">輸出:</label>
                        <input type="text" class="sample_input" name="s_o" id ="s_o" placeholder="">
                    </fieldset>
                </div>
                <div class ="memory">
                    <fieldset>
                        <legend>參數宣告</legend>
                        <div id="m_c">
                            </div>
                        <button class="button-34" onclick="add_memory()">新增參數</button>
                    </fieldset>
                </div>
                <div class="c_category">
                    <fieldset>
                        <legend>主要處理方式</legend>
                        {% for category in categorys %}
                            <input type="radio" name="promptc" value="{{category}}"></input>
                            <label for="{{category}}">{{category}}</label>
                        {% endfor %}
                    </fieldset>
                </div>
                <div class="c_keyword">
                    <fieldset>
                        <legend>應用到的程式概念(複選)</legend>
                        {% for keyword in keywords %}
                            <input type="checkbox" name="promptk" value="{{keyword}}"></input>
                            <label for="{{keyword}}">{{keyword}}</label>
                        {% endfor %}
                    </fieldset>
                </div>
                <div class ="hint">
                    <fieldset>
                        <legend>關鍵提示</legend>
                        <input type="text" id="hint" placeholder="">
                    </fieldset>
                </div>
                <!-- <input class="button-33" id= "search" style="background-color:	#00BB00;" value="Search"> -->
                <input class="button-33" type="submit" value="Ask AI">
            </div>
            
            <!-- <div class="add_frame">
                <label for="name">參數名稱:</label>
                <input type="text" class="parameter" name="p_n" placeholder="a">
                <label for="type">參數型別:</label>
                <input type="text" class="parameter" name="p_t" placeholder="int、str、list">
                <button class="button-34" style="background-color:#EA0000"onclick="delete_memory()">刪除參數</button>
            </div> -->
        </div>
    </body>
</html>

<script type="text/javascript">
   var problems = {{problems|safe}}
   var output=""
   var input = ""
   var category = ""
   var keyword = []
   var description = ""
   var solution = ""
   var hint = ""
   var sample_i
   var sample_o
   var parameters = []

   var basic = problems[5]['Problem_Description']
   basic = basic.replace(/\n/g,'<br>')

   var iao = problems[5]['IAO']
   iao = iao.replace(/\n/g,'<br>')
   
   $(document).ready(function () {
        document.getElementById("problem_d").innerHTML = basic
        document.getElementById("problem_iao").innerHTML = iao
   });
   $('input[type=radio][name="promptc"]').on('change', function() {
        category = $(this).val()
   })
   $('input[type=radio][name="promptk"]').on('change', function() {
        keyword = $(this).val()
   })

   var add_div=1;
   function add_memory(){
        var obj = document.createElement("div")
        obj.id = "add_"+add_div
        obj.innerHTML='<div class="add_frame">\n'+
                    '<label for="name">參數名稱:</label>\n'+
                    '<input type="text" class="parameter" name="p_n" id="p_n" placeholder="a">\n'+
                    '<label for="type">參數型別:</label>\n'+
                    '<input type="text" class="parameter" name="p_t" id="p_t" placeholder="int、str、list...">\n'+
                    '<button class="button-35" onclick="delete_memory(this)">刪除</button>\n'+
                '</div>\n'
        add_div++
        // obj.setAttribute("style","text-align:left")
        document.getElementById('m_c').appendChild(obj)
   }

   function delete_memory(but){
        var id = but.parentNode.parentNode.id
        var obj = document.getElementById(id)
        document.getElementById('m_c').removeChild(obj)
   }

//    $('#btnpopclose').click(function(){
//         $('#target-content').hide();
//    })
   
   //送出
   $('input[type=submit]').click(function(){
            input = document.getElementById('input_define').value
            output = document.getElementById('output_define').value
            sample_i = document.getElementById('s_i').value
            sample_o = document.getElementById('s_o').value
            hint = document.getElementById('hint').value
            p_raw = document.getElementsByClassName('add_frame')
            
            for(var i =0;i<p_raw.length;i++){
                var parameter_name = p_raw[i].childNodes[3].value
                var parameter_type = p_raw[i].childNodes[7].value
                var temp = {
                    'parameter_name':parameter_name,
                    'parameter_type':parameter_type
                }
                parameters.push(temp)
            }
            $('input[type=checkbox][name="promptk"]:checked').each(function(){
                    keyword.push(this.value)
            })

            var choice={
                        Mode:1,
                        Topic:4,
                        Input:input,
                        Output:output,
                        S_input:sample_i,
                        S_output:sample_o,
                        Category:category,
                        Keyword:keyword,
                        Parameters:parameters,
                        Problem_n:basic.toString(),
                        Problem_o:description,
                        Solution:solution,
                        Hint:hint,
            }
            // console.log(choice)
            $.ajax({
                type:"POST",
                url:"/result",
                data:JSON.stringify(choice),
                contentType:"application/json",
                dataType:'json',
                success:function(result){
                    window.location.href = "/result"
                }
            })
    });

</script>