<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='prompt_build.css') }}">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <title>TOPIC 1 EXTEND</title>
    </head>
    <body>
        <div class="main">
            <div class="flex-child">
                <h1>Problem</h1>
                <div class="n_problem">
                    <p id="problem_d"></p>
                </div>
            </div>

            <div class="flex-child">
                <h1>Prompt Production</h1>
                <div class ="c_input">
                    <fieldset>
                        <legend>輸入</legend>
                        <input type="text"id="input_define" name="prompti" placeholder="整數，單行輸入，代表數字" required>
                    </fieldset>
                </div>
                <div class ="c_output">
                    <fieldset>
                        <legend>輸出</legend>
                        <input type="text" id="output_define" name="prompto" placeholder="印出指定整數結果" required>
                    </fieldset>
                </div>
                <div class ="sample">
                    <fieldset>
                        <legend>範例輸入輸出</legend>
                        <label for="name">輸入:</label>
                        <input type="text" class="sample_input" name="s_i" id="s_i" placeholder="">
                        <label for="type">輸出:</label>
                        <input type="text" class="sample_input" name="s_o" id ="s_o" placeholder="">
                    </fieldset>
                </div>
                <div class ="memory">
                    <fieldset>
                        <legend>參數宣告</legend>
                        <div id="m_c">
                            </div>
                        <button class="button-34" onclick="add_memory()">新增參數</button>
                    </fieldset>
                </div>
                <div class="c_category">
                    <fieldset>
                        <legend>處理方式</legend>
                        {% for category in categorys %}
                            <input type="radio" name="promptc" value="{{category}}"></input>
                            <label for="{{category}}">{{category}}</label>
                        {% endfor %}
                    </fieldset>
                </div>
                <div class="c_keyword">
                    <fieldset>
                        <legend>處理方式轉換程式概念</legend>
                        {% for keyword in keywords %}
                            <input type="radio" name="promptk" value="{{keyword}}"></input>
                            <label for="{{keyword}}">{{keyword}}</label>
                        {% endfor %}
                    </fieldset>
                </div>
                <div class ="hint">
                    <fieldset>
                        <legend>關鍵提示</legend>
                        <input type="text" id="hint" placeholder="">
                    </fieldset>
                </div>
                <!-- <input class="button-33" id= "search" style="background-color:	#00BB00;" value="Search"> -->
                <!-- <input class="button-33" type="submit" value="Ask AI"> -->
                <input class="button-33" id= "search" style="background-color:	#00BB00;" value="Search">
            </div>
            <div id="target-content">
                <div class="popup-header">
                    <span style="font-weight:bold">Check search result: </span>
                    <button id="btnpopclose" class="popup-close">×</button>
                </div>
                <div id="prompt-content">
                    <p>此題處理方式:<span id="g"></span></p>
                    <p>概念轉換成程式碼為:<span id="k"></span></p>
                    <p>選擇輸入為:<span id="i"></span></p>
                    <p>選擇輸出為:<span id="o"></span></p>
                </div>
                <hr>
                <p>相關之範例題目為:</p>

                <div id="old">
                    
                 </div>

                <input class="button-33" style="top:50%;left:50%;bottom: 20px;;" type="submit" value="Ask AI">
            </div>
        </div>
    </body>
</html>

<script type="text/javascript">
   var problems = {{problems|safe}}
   var output=""
   var input = ""
   var category = ""
   var keyword = ""
   var description = []
   var solution = []
   var hint = ""
   var sample_i
   var sample_o
   var parameters = []

   
   var extend = "中央咖啡店的店面房租為每月6000元，如果當月天數不足月，則也算全額6000元，\n請幫店長寫出一python程式，每當輸入月數跟天數去計算應繳費之金額。"

   extend = extend.replace(/\n/g,'<br>')
   
   $(document).ready(function () {
        document.getElementById("problem_d").innerHTML = extend
   });
   $('input[type=radio][name="promptc"]').on('change', function() {
        category = $(this).val()
   })
   $('input[type=radio][name="promptk"]').on('change', function() {
        keyword = $(this).val()
   })

   var add_div=1;
   function add_memory(){
        var obj = document.createElement("div")
        obj.id = "add_"+add_div
        obj.innerHTML='<div class="add_frame">\n'+
                    '<label for="name">參數名稱:</label>\n'+
                    '<input type="text" class="parameter" name="p_n" id="p_n" placeholder="a">\n'+
                    '<label for="type">參數型別:</label>\n'+
                    '<input type="text" class="parameter" name="p_t" id="p_t" placeholder="int、str、list...">\n'+
                    '<button class="button-35" onclick="delete_memory(this)">刪除參數</button>\n'+
                '</div>\n'
        add_div++
        document.getElementById('m_c').appendChild(obj)
   }

   function delete_memory(but){
        var id = but.parentNode.parentNode.id
        var obj = document.getElementById(id)
        document.getElementById('m_c').removeChild(obj)
   }

   $('#btnpopclose').click(function(){
        $('#target-content').hide();
   })
   //點選完進行索引
   $('#search').click(function(){
        var search_case = {
            
            Category:category,
            Keyword:keyword,
        }
        // console.log(prompt)

        //ajax開始
        $.ajax({
                type:"POST",
                url:"/search",
                data:JSON.stringify(search_case),
                contentType:"application/json",
                dataType:'json',
                success:function(result){
                    $('#g').html(category)
                    $('#k').html(keyword)
                    $('#i').html(input)
                    $('#o').html(output)
                    // console.log(result)
                    var display = ""
                    result.forEach(element => {
                        // console.log(element)
                        var t1 = element[2]
                        t1 = t1.replace(/\n/g,'<br>')
                        description += element[2]
                        var t2 = element[3]
                        t2 = t2.replace(/\n/g,'<br>')
                        solution += element[3]
                        display+=t1+"<br>"
                        console.log(display)
                        display+=t2+"<hr>"
                        
                    });
                    $('#old').html(display)
                    $('#target-content').show()
                }
        })
        
   })
   //
   //將索引產出之舊問題整理
   
   //送出
   $('input[type=submit]').click(function(){
    input = document.getElementById('input_define').value
            output = document.getElementById('output_define').value
            sample_i = document.getElementById('s_i').value
            sample_o = document.getElementById('s_o').value
            
            p_raw = document.getElementsByClassName('add_frame')
            
            for(var i =0;i<p_raw.length;i++){
                var parameter_name = p_raw[i].childNodes[3].value
                var parameter_type = p_raw[i].childNodes[7].value
                var temp = {
                    'parameter_name':parameter_name,
                    'parameter_type':parameter_type
                }
                parameters.push(temp)
            }

            var choice={
                        Mode:2,
                        Input:input,
                        Output:output,
                        S_input:sample_i,
                        S_output:sample_o,
                        Category:category,
                        Keyword:keyword,
                        Parameters:parameters,
                        Problem_n:extend.toString(),
                        Problem_o:description,
                        Solution:solution,
                        Hint:hint,
            }
            
            $.ajax({
                type:"POST",
                url:"/result",
                data:JSON.stringify(choice),
                contentType:"application/json",
                dataType:'json',
                success:function(result){
                    window.location.href = "/result"
                }
            })
    });

</script>