<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='try.css') }}">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <title>Try it</title>
    </head>
    <body>
        <div class="main">
            <div class="flex-child">
                <div>
                    <h1>Here's your prompt</h1>
                    <div class="prompt">
                        <div><label for="name">新問題:<br>
                            <p id="n"></p>
                        </label></div>
                        <div><label for="name">新問題輸入:<br>
                            {{prompt.Input}}
                        </label></div>
                        <div><label for="name">新問題輸出:<br>
                            {{prompt.Output}}
                        </label></div>
                        <div><label for="name">範例輸入:<br>
                            {{prompt.S_input}}
                        </label></div>
                        <div><label for="name">範例輸出:<br>
                            {{prompt.S_output}}
                        </label></div>
                        <div><label for="name">參數宣告:<br>
                            <p id="p"></p>
                        </label></div>
                        <div><label for="name">處理方式:<br>
                            {{prompt.Category}}{{prompt.Keyword}}
                        </label></div>
                        <div><label for="name">舊問題:<br>
                            <p id="o"></p>
                        </label></div>
                        <div><label for="name">舊問題解答:<br>
                            <p id="s"></p>
                        </label></div>
                        
                    </div>
                </div>
                
            </div>
        </div>
        <input type="hidden" name="token_idx" id="n_i" value='{{prompt.Problem_n}}'>
        <input type="hidden" name="token_idx" id="s_i" value='{{prompt.Solution}}'>
        <input type="hidden" name="token_idx" id="o_i" value='{{prompt.Problem_o}}'>
        <input type="hidden" name="token_idx" id="p_i" value='{{prompt.Parameters}}'>
    </body>

</html>
<script type="text/javascript">
    var n = document.getElementById("n_i").value
    var s = document.getElementById("s_i").value
    var o = document.getElementById("o_i").value
    var p = document.getElementById("p_i").value
    n = n.replace(/\n/g,'<br>')
    s = s.replace(/\n/g,'<br>')
    o = o.replace(/\n/g,'<br>')
    p = p.replace(/\n/g,'<br>')
    $(document).ready(function () {
        document.getElementById("n").innerHTML = n
        document.getElementById("s").innerHTML = s
        document.getElementById("o").innerHTML = o
        document.getElementById("p").innerHTML = p
    });
</script>