<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>CBR System</title>
    </head>
    <body>
        <div>
            {% if user.first_login %}
            <h1>
                Welcome,{{user.id}}!
            </h1>
            {% else %}
            <h1>
                Welcome Back,{{user.id}}!
            </h1>
            {% endif %}
        </div>
        <!-- {% if user.uploads%}
            {% include 'db_import_s.html' %}
        {% else %}
            {% include 'db_import.html' %}
        {%endif%} -->
    </body>
</html>