<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='welcome.css') }}">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <title>CBR System</title>
    </head>
    <body>
        <div class="welcome">
            <div class="welcome_text">
            {% if user.first_login %}
                <p>
                    Welcome,{{user.name}}!
                </p>
                {% else %}
                <p>
                    Welcome Back,{{user.name}}!
                </p>
                {% endif %}
            </div>
            <div class="welcome_but">
                <input type="button" value="START" name="start" onclick="window.location.href = '/select'">
            </div>
        </div>
    </body>
</html>